

.food-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(112, 10, 10, 0);
    transition: 0.3s;
    
}


.btn-detail {
    border: 3px solid white;
    padding: 10px 15px;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn-detail:hover {
    background: white;
    border: 0px solid white;
    color: #6B4519;
}

.content-btn {
    position: relative;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform: translateY(-9rem);
    transition: 0.3s;
}



.info-container {
    padding: 1rem;
    background: #f0f0f0;
    transform: translateY(10rem);
    transition: 0.3s;
    color: #6B4519;
    text-align: center;
}

.title {
    position: relative;
    padding-bottom: 0.6rem;
    margin-bottom: 0.3rem;
}

.title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 6rem;
    margin: auto;
    background: #6B4519;
}

.hide-info {
    opacity: 0;
    transition: 0.3s;
    /* background: #f0f0f0;
    color: #0a4870; */
}


.food-card:hover::before {
    background: #6f524292;
}

.food-card:hover .content-btn {
    opacity: 1;
    transform: translateY(0px);
}

.food-card:hover .info-container {
    transform:  translateY(5.4rem);
}

.food-card:hover .info-container .hide-info {
    opacity: 1;
    z-index: 99;
}   

